src/PalcoNet.v11.suo
src/.vs/PalcoNet/v15/Server/sqlite3/storage.ide-wal
src/.vs/PalcoNet/v15/Server/sqlite3/storage.ide-shm
src/.vs/PalcoNet/v15/Server/sqlite3/storage.ide
src/.vs/PalcoNet/v15/Server/sqlite3/db.lock
src/.vs/PalcoNet/v15/.suo
src/Storage/obj/
src/Storage/bin/
src/Services/bin/Debug/Antlr3.Runtime.dll
src/Services/bin/
src/Services/obj/
src/App/bin/Debug/PalcoNet.vshost.exe.manifest
src/App/bin/Debug/PalcoNet.vshost.exe.config
src/App/bin/Debug/PalcoNet.vshost.exe
src/App/bin/Debug/PalcoNet.pdb
src/App/bin/Debug/PalcoNet.exe.config
src/App/bin/Debug/PalcoNet.exe
src/App/bin/Debug/NHibernate.dll
src/App/bin/Debug/Iesi.Collections.dll
src/App/bin/Debug/Entities.pdb
src/App/bin/Debug/Entities.dll
src/App/bin/Debug/Storage.pdb
src/App/bin/Debug/Storage.dll
src/App/bin/Debug/Services.pdb
src/App/bin/Debug/Services.dll
src/App/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
src/App/obj/Debug/PalcoNet.pdb
src/App/obj/Debug/PalcoNet.exe
src/App/obj/Debug/PalcoNet.csprojAssemblyReference.cache
src/App/obj/Debug/PalcoNet.csproj.GenerateResource.cache
src/App/obj/Debug/PalcoNet.csproj.FileListAbsolute.txt
src/App/obj/Debug/PalcoNet.csproj.CoreCompileInputs.cache
src/App/obj/Debug/PalcoNet.csproj.CopyComplete
src/App/obj/Debug/PalcoNet.Properties.Resources.resources
src/App/obj/Debug/PalcoNet.Form1.resources
src/App/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
src/App/obj/Debug/DesignTimeResolveAssemblyReferences.cache
src/App/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
src/App/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
src/Entities/bin/Debug/Entities.pdb
src/Entities/bin/Debug/Entities.dll
src/Entities/obj/
