<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="ServiceSection" type="TrailHealth.EndPoint.Configuration.ServiceConfigurationSection, TrailHealth.EndPoint"/>
    <section name="EntitiesSection" type="TrailHealth.Framework.Configuration.EntitiesConfigurationSection, TrailHealth.Framework"/>
  </configSections>
  <EntitiesSection>
    <Entities>
      <entity assembly="Entities">
      </entity>
    </Entities>
  </EntitiesSection>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
  </startup>
  <appSettings>
    <!--<add key="DiscoveryServer" value="localhost"/>
    <add key="DiscoveryPort" value="8083"/>-->

    <add key="Server" value="LAPTOP-HGM1972G\SQLSERVER2012"/>
    <add key="Database" value="GD2C2018"/>
    <add key="User" value="gdEspectaculos2018"/>
    <add key="Password" value="gd2018"/>

    <!--<add key="Server" value="200.45.109.99\sql2005,2433"/>
    <add key="Database" value="iprosap"/>
    <add key="User" value="iprosap"/>
    <add key="Password" value="Bariloche2013"/>-->

    <add key="DbType" value="Sql2008"/>
    <add key="AllowDirtyReads" value="true"/>
    <add key="Profiler" value="false"/>
    <add key="MaxPoolSize" value="100"/>
    <add key="MbThrottleMemory" value="256"/>

    <!-- Mapeador -->
    <add key="EntitiesProject" value="Entities"/>
    <add key="MappingsFolder" value=""/>
    <add key="EntitiesFolder" value=""/>
    <add key="EntitiesNamespace" value="Entities"/>
    <add key="BaseClass" value="EditableEntity"/>
    <add key="IdNullable" value="false"/>
    <add key="MappingAssemblyName" value="Entities"/>
    <!-- Fin mapeador -->

  </appSettings>

</configuration>
