<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Server" value="LAPTOP-HGM1972G\SQLSERVER2012" />
    <add key="Database" value="GD2C2018" />
    <add key="User" value="gdEspectaculos2018" />
    <add key="Password" value="gd2018" />
    <add key="ConnectionTimeout" value="60" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>